<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SCS</title>
    <div th:replace="fragments/fragments.html::cdn"></div>
    <div th:replace="fragments/fragments.html::navcss"></div>
</head>
<body>

<div class="container-fluid custom-container">
    <div class="div text-center" style="color: red;">
        <div th:replace="fragments/fragments.html::header"></div>
        You don't have permission to access <script>document.write(window.location.pathname);</script>.
        <div th:replace="fragments/fragments.html::footer"></div>
    </div>
</div>
</body>
</html>